body{
    background-color: black;
}

.poster{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
}
.image{
    width: 100%;
    border: 10px solid white;
}
h1{
    color: white;
    font-family: 'Fasthand', cursive;
    text-align: center;
     text-transform: uppercase;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
